@using System.Collections.Generic
@using CakeItWebApp.ViewModels.CustomCake
@model ICollection<CustomCakeImgViewModel>

@{
    var count = 0;
}
<main>
    <div class="row">
        <div class="col-md-12 m-2">
            <h1>Custom Cakes Images</h1>
            <hr class="hr-2" style="background-color: forestgreen">
            <table class="table table-hover">
                <thead>
                    <tr class="row">
                        <th scope="col" class="col-md-1 d-flex justify-content-center"><h3>#</h3></th>
                        <th scope="col" class="col-md-2 d-flex justify-content-center" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h3>Name</h3></th>
                        <th scope="col" class="col-md-2 d-flex justify-content-center" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h3>Side</h3></th>
                        <th scope="col" class="col-md-2 d-flex justify-content-center" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h3>Top</h3></th>
                        <th scope="col" class="col-md-3 d-flex justify-content-center" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h3>Img</h3></th>
                        <th scope="col" class="col-md-1 d-flex justify-content-center" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h3>Edit</h3></th>
                        <th scope="col" class="col-md-1 d-flex justify-content-center" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h3>Delete</h3></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                    <tr class="row">
                        <td class="col-md-1 d-flex"><h5>@count</h5></td>
                        <td class="col-md-2" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h5>@item.Name</h5></td>
                        <td class="col-md-2" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h5>@item.Side</h5></td>
                        <td class="col-md-2" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h5>@item.Top</h5></td>
                        <td class="col-md-3" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h5>@item.Img</h5></td>
                        <td class="col-md-1 d-flex justify-content-center" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h5><a class="btn btn-info" asp-controller="CustomCakes" asp-action="Edit" asp-route-id="@item.Id">Edit</a></h5></td>
                        <td class="col-md-1 d-flex justify-content-center" style="min-width: 15rem; max-width: 15rem; word-wrap: break-word; white-space:normal"><h5><a class="btn btn-danger" asp-controller="CustomCakes" asp-action="Delete" asp-route-id="@item.Id">Delete</a></h5></td>

                    </tr>
                    }
                </tbody>
            </table>
            <div class="justify-content-right">
                <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-dark" role="button" style="color: white">Back</a>
            </div>
        </div>
    </div>
</main>
