@using Newtonsoft.Json;
@model CakeItWebApp.ViewModels.CustomCake.CustomCakeOrderViewModel

@{
        TempData["OrderCustomCake"] = JsonConvert.SerializeObject(Model);
    }

<main class="container">
    <div class="row">
        <div class="col-md-4 customCakeContainer ml-5">
            <h1 class="text-center" style="color:saddlebrown">Your Custom Cake</h1>
            <hr style="border-color: saddlebrown" />
            <p>
                <em>Sponge:</em> <strong>@Model.Sponge.ToString().Replace('_', ' ') Sponge</strong>
            </p>
            <p>
                <em>First Layer Cream:</em> <strong>@Model.FirstLayerCream.ToString().Replace('_', ' ') Cream</strong>
            </p>
            <p>
                <em>Second Layer Cream:</em> <strong>@Model.SecondLayerCream.ToString().Replace('_', ' ') Cream</strong>
            </p>
            <p>
                <em>Fillings:</em> <strong>@Model.Filling.ToString().Replace('_', ' ')</strong>
            </p>
            <p>
                <em>Side Decoration:</em> <strong>@Model.SideDecoration.ToString().Replace('_', ' ')</strong>
            </p>
            <p>
                <em>Top Decoration:</em> <strong>@Model.TopDecoration.ToString().Replace('_', ' ')</strong>
            </p>
            <p>
                <em>Number of Slices:</em> <strong>@Model.NumberOfSlices</strong>
            </p>
            <p>
                <em>Price:</em> <strong>$@Model.Price</strong> 
            </p>
            <div class="d-inline justify-content-end">
                <a asp-controller="CustomCakes" asp-action="AddToCart" class="btn btn-info" style="background-color: saddlebrown; color:white">Add to Cart</a>
            </div>
            <div class="d-inline justify-content-right">
                <a asp-controller="CustomCakes" asp-action="Index" class="btn btn-dark" role="button" style="color: white">Back</a>
            </div>
        </div>
        <div class="col-md-7 mt-3">
            <img class="img-fluid mt-5 mx-auto d-block float-right" src="@Model.Img" alt="">
        </div>
    </div>
    <!--div row-->
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}