@using System.Collections.Generic
@using CakeItWebApp.ViewModels.Orders
@model ICollection<OrderedProductsViewModel>

@{
    var count = 0;
}
<main class="container">
    <div class="row">
        <div class="col-12 col-md-8 m-2">
            <h1>Ordered Products</h1>
            <hr class="hr-2" style="background-color: forestgreen">
            <table class="table table-hover">
                <thead>
                    <tr class="row">
                        <th scope="col" class="col-md-1 d-flex"><h3>#</h3></th>
                        <th scope="col" class="col-md-2 d-flex"><h3>Order Number</h3></th>
                        <th scope="col" class="col-md-4 d-flex"><h3>Product Name</h3></th>
                        <th scope="col" class="col-md-2 d-flex"><h3>Product Quantity</h3></th>
                        <th scope="col" class="col-md-2 d-flex"><h3>Product Price</h3></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    count++;
                    <tr class="row">
                        <th scope="row" class="col-md-1 d-flex"><h5>@count</h5></th>
                        <td class="col-md-2 d-flex"><h5>@item.OrderId</h5></td>
                        <td class="col-md-4 d-flex"><h5>@item.ProductName</h5></td>
                        <td class="col-md-2 d-flex"><h5>@item.ProductQuantity</h5></td>
                        <td class="col-md-2 d-flex"><h5>@item.ProductPrice</h5></td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="justify-content-right">
                <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-dark text-white" role="button">Back</a>
            </div>
        </div>
    </div>
</main>

