@using System.Collections.Generic
@using CakeItWebApp.ViewModels.Forum

@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<CakeItWebApp.ViewModels.Forum.PostIndexViewModel>

@{
    var count = 0;
}
<main>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-2">
            <h1>All Posts</h1>
            <hr class="hr-2" style="background-color: forestgreen">
            <table class="table table-hover">
                <thead>
                    <tr class="row">
                        <th scope="col" class="col-md-1 d-flex"><h3>#</h3></th>
                        <th scope="col" class="col-md-2 d-flex"><h3>Title</h3></th>
                        <th scope="col" class="col-md-2 d-flex"><h3>Posted On</h3></th>
                        <th scope="col" class="col-md-4 d-flex"><h3>Content</h3></th>
                        <th scope="col" class="col-md-1 d-flex"><h3>Is Deleted</h3></th>
                        <th scope="col" class="col-md-2 d-flex"><h3>Comments</h3></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                    <tr class="row">
                        <th scope="row" class="col-md-1 d-flex"><h5>@count</h5></th>
                        <td class="col-md-2 d-flex"><h5>@Html.Raw(item.Title)</h5></td>
                        <td class="col-md-2 d-flex"><h5>@item.CreatedOn</h5></td>
                        <td class="col-md-4 d-flex"><h5>@Html.Raw(item.FullContent) ...</h5></td>
                        <td class="col-md-1 d-flex"><h5>@item.IsDeleted</h5></td>
                        <td class="col-md-2 d-flex"><h5><a asp-controller="Forum" asp-action="CommentsPerPost" asp-route-postId="@item.Id" class="btn btn-info text-white">Comments</a></h5></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>


@Html.PagedListPager(Model, page => Url.Action("AllPosts", new { page = page }), new X.PagedList.Mvc.Common.PagedListRenderOptionsBase {
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" }
})
