@model CakeItWebApp.ViewModels.Forum.EditCommentViewModel

<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <section>
                <h1 class="text-center">Edit Comment</h1>
                <hr class="bg-panda hr-2" />
                <h3>Post:</h3>
                <p><em>Title: <strong>@Model.Title</strong></em></p>
                <p><em>Author: <strong>@Model.PostAuthorName</strong></em></p>
                <p class="mb-4"><em>Content: <strong>@Html.Raw(Model.FullContent)</strong></em></p>
                <hr style="background-color: gray" />
                <form method="post" asp-controller="Forum" asp-action="EditComment">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="@Model.CommentId" value="@Model.CommentId" hidden />
                        <input asp-for="@Model.CommentAuthorId" value="@Model.CommentAuthorId" hidden />
                        <input asp-for="@Model.CreatedOn" value="@Model.CreatedOn" hidden />
                        <input asp-for="@Model.CommentAuthor" value="@this.User.Identity.Name" hidden />
                        <input asp-for="@Model.PostId" value="@Model.PostId" hidden />
                        <textarea asp-for="@Model.Content" id="mytextarea" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-info">Edit</button>
                    </div>
                </form>
            </section>
        </div>

    </div>
</main>
@section Scripts {
    <script>tinymce.init({ selector: '#mytextarea' });</script>
    <partial name="_ValidationScriptsPartial" />
}

