@model CakeItWebApp.ViewModels.Forum.PostDetailsViewModel

<main class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-12">
            <!-- Title -->
            <h1 class="mt-4">@Html.Raw(Model.Title)</h1>
            <!-- Author -->
            <p class="lead">
                by @Model.Author
            </p>
            <hr>
            <!-- Date/Time -->
            <p>Posted on @Model.CreatedOn</p>
            <hr>
            <!-- Post Content -->
            <p class="lead">@Html.Raw(Model.FullContent)</p>

            @if (this.User.Identity.Name == Model.Author)
            {
                <div class="button-holder d-flex justify-content-around">
                    <a asp-controller="Forum" asp-action="EditPost" asp-route-id="@Model.Id" class="btn btn-info text-white mb-3">Edit</a>
                    <a asp-controller="Forum" asp-action="SoftDeletePost" asp-route-id="@Model.Id" class="btn btn-danger text-white mb-3">Delete</a>
                </div>
            }
            else if (this.User.IsInRole("Admin"))
            {
                <div class="button-holder d-flex justify-content-around">
                    <a asp-controller="Forum" asp-action="SoftDeletePost" asp-route-id="@Model.Id" class="btn btn-danger text-white mb-3">Delete</a>
                </div>
            }
            <hr style="background-color: rgb(79, 184, 176)">
            <!-- Comments Form -->
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        @{
                            var createComment = Model.CreateComment;
                        }
                        <form method="post" asp-controller="Forum" asp-action="Comment">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="@createComment.AuthorName" value="@this.User.Identity.Name" hidden />
                                <input asp-for="@createComment.PostId" value="@Model.Id" hidden />
                                <textarea asp-for="@createComment.Content" id="mytextarea" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            }


            @for (var i = 0; i < Model.Comments.Count; i++)
            {
                <!-- Single Comment -->
                var comment = Model.Comments.ToList()[i];

                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="~/images/comment.png" alt="" style="height: 30px">
                    <div class="media-body">
                        <p>@Html.Raw(comment.Content.TrimEnd())</p>
                        <p>
                            <em>Author: <strong>@comment.AuthorName</strong></em>,
                            <em>Created on: <strong>@comment.CreatedOn</strong></em>
                        </p>
                    </div>
                </div>


                @if (this.User.Identity.Name == comment.AuthorName)
                {
                    <div class="button-holder d-flex justify-content-around">
                        <a asp-controller="Forum" asp-action="EditComment" asp-route-id="@comment.Id" class="btn btn-info text-white mb-3">Edit</a>
                        <a asp-controller="Forum" asp-action="SoftDeleteComment" asp-route-id="@comment.Id" class="btn btn-danger text-white mb-3">Delete</a>

                    </div>
                }
                else if (this.User.IsInRole("Admin"))
                {
                    <div class="button-holder d-flex justify-content-around">
                        <a asp-controller="Forum" asp-action="SoftDeleteComment" asp-route-id="@comment.Id" class="btn btn-danger text-white mb-3">Delete</a>
                    </div>
                }

                <hr style="background-color: black">
            }

        </div>
        <!-- /.row -->
    </div>
</main>
@section Scripts {
    <script>tinymce.init({ selector: '#mytextarea' });</script>
    <partial name="_ValidationScriptsPartial" />
}
