@using System.Collections.Generic
@using CakeItWebApp.ViewModels.Forum

@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<CakeItWebApp.ViewModels.Forum.PostIndexViewModel>

@{
    var tags = ViewData["Tags"] as string;
}

<!-- Page Content -->
<main class="container">
    <div class="row">
        <!-- Posts Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">All Posts</h1>
            <hr>
            <!-- Single Post -->
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="media mb-4">
                    <div class="media-body">
                        <a asp-controller="Forum" asp-action="PostDetails" asp-route-id="@Model[i].Id"><h3 class="mt-0">@Html.Raw(Model[i].Title)</h3></a>
                        <p class="lead">by @Model[i].Author</p>
                        <p class="d-inline">
                            <em>Created On: <strong>@Model[i].CreatedOn</strong>,</em>
                        </p>
                        <p class="d-inline">
                            <em>Number of Comments: <strong>@Model[i].CommentCount</strong></em>
                        </p>
                    </div>
                </div>
                <!--Post Tags-->
                <div class="mb-4">
                    @foreach (var tag in Model[i].Tags.Split(new[] { ',', ' ' }, StringSplitOptions.RemoveEmptyEntries))
                    {
                        <span class="badge badge-dark">@tag</span>
                    }
                </div>

                <hr style="background-color: black">
            }
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Tags</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                @foreach (var tag in tags.Split(new char[] { ',', ' ' },StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <li>
                                        <a asp-controller="Forum" asp-action="PostsByTag" asp-route-tag="@tag">@tag</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new X.PagedList.Mvc.Common.PagedListRenderOptionsBase {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link" }
    })
    </main>
